.header {
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    height: 80px;
}
.header .logo {
     height: 60px;
}
.header .logo img {
    height: 80%;
}
.header .menu-wrapper {
    line-height: 80px;
    margin-left: 5%;
    font-size: 15px;
}
.header .search {
    position: absolute;
    right: 10%;
    width: 15%;
}